#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  /*background-color: rgb(148, 187, 154);*/
  background-color:rgb(219, 255, 205);
}

img {
  border: 4px, rgb(76, 95, 74), solid;
  width: 200px;
}

h1, h2, h3, button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

button {
  background-color: rgb(190, 226, 191);
  border: 3px, solid, rgb(76, 95, 74);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 3%;
  margin-left: 3%;
}

/* #recipeCard {
  background-color: rgb(101, 126, 98);
  padding: 5px;
  padding-bottom: 30px;
  margin: 10%;
  width: 500px;
  display: inline-block;
} */

#recipeCard:nth-child(odd) {
  background-color: rgb(165, 207, 160);
  padding: 5px;
  padding-bottom: 30px;
  margin: 10%;
  width: 500px;
  display: inline-block;
}

#recipeCard {
  background-color: rgb(132, 161, 128);
  padding: 5px;
  padding-bottom: 30px;
  margin: 10%;
  width: 500px;
  display: inline-block;
} 

input {
  padding-left: 5px;
  padding-right: 50%;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  text-overflow: ellipsis;
  width: 40%;
  margin-bottom: 15px;
}

.favorite {
  background-color: rgb(132, 161, 128);
  padding: 5px;
  padding-bottom: 30px;
  margin: 10%;
  width: 500px;
  display: inline-block;
}

#homeText {
  padding-top: 30px;
  padding-bottom: 30px;
}


.home {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgb(101, 126, 98);
}

#navbar {
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}