.body {
  background-color: gray;
}

#navbar {
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.home {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 7%;
  background-color: rgb(101, 126, 98);
}
